@media (min-width: 700px) {
    #contenedorPrincipal {
      display: flex;
      flex-wrap: nowrap;
      color: red;
      justify-content: space-around;
      height: 400px;
      align-items: flex-start;
    }
    .hijos {
      min-width: 20%;
      min-height: 100px;
    }
    .padre{
      display: flex;
      min-width: 40%;
      min-height: 200px;
      gap: 200px;
      flex-direction: column;
      color: yellowgreen;
    }
    .hijos1 {
      min-width: 20%;
      min-height: 100px;
      background-color: #ffa69e;
    }
    
    .hijos:nth-of-type(2) {
      align-self: stretch;
      background-color: #b8f2e6;
    }
    .hijos:nth-of-type(3) {
      background-color: #aed9e0;
      max-width: 50px;
    }
  }
  @media (max-width: 700px) {
    #contenedorPrincipal {
      display: flex;
      gap: 12px;
      color: blue;
      flex-direction: column-reverse;
      justify-content: space-around;
    }
    .padre{
      display: flex;
      min-width: 40%;
      min-height: 200px;
      gap: 12px;
      flex-direction: column-reverse;
      color: yellowgreen;
    }
    .hijos {
      min-width: 20%;
      min-height: 100px;
      margin: 10px;
    }
    .hijos1{
      min-width: 20%;
      min-height: 100px;
      margin: 10px;
      flex-direction: column-reverse;
      background-color: grey; 
    }
    .hijos:nth-of-type(2) {
      background-color: #b8f2e6;
    }
    .hijos:nth-of-type(3) {
      background-color: #aed9e0;
    }
  }
  