@media (min-width: 600px) {
    #contenedorPrincipal {
      display: flex;
      flex-wrap: nowrap;
      color: red;
      justify-content: space-around;
      height: 400px;
      align-items: flex-start;
    }
    .hijos {
      min-width: 20%;
      min-height: 100px;
    }
    .hijos:nth-of-type(1) {
      background-color: #ffa69e;
    }
    .hijos:nth-of-type(2) {
      background-color: #faf3dd;
      align-self: flex-end;
      justify-self: flex-end;
    }
    .hijos:nth-of-type(3) {
      align-self: stretch;
      background-color: #b8f2e6;
    }
    .hijos:nth-of-type(4) {
      background-color: #aed9e0;
      max-width: 50px;
    }
  }
  @media (max-width: 600px) {
    #contenedorPrincipal {
      display: flex;
      gap: 12px;
      color: blue;
      flex-direction: column-reverse;
      justify-content: space-around;
    }
    .hijos {
      min-width: 20%;
      min-height: 100px;
      margin: 10px;
    }
    .hijos:nth-of-type(1) {
      background-color: #ffa69e;
    }
    .hijos:nth-of-type(2) {
      background-color: #faf3dd;
    }
    .hijos:nth-of-type(3) {
      background-color: #b8f2e6;
    }
    .hijos:nth-of-type(4) {
      background-color: #aed9e0;
    }
  }
  